<h1>{{title}}</h1>
<!-- <div class="form-group">
  <input type="text" class="form-control" placeholder="Name"  />
  <input type="text" class="form-control" placeholder="Age"  />
  <button class="btn btn-primary" (click)="addUser()">Search</button>
   <ul>
    <li *ngFor="let user of users">
      <span>{{user.name}}</span>
      <span>{{user.age}}</span>
      <button class="btn btn-danger" (click)="deleteUser()">Delete</button>
    </li>
  </ul>
  
</div> -->
<app-add-user></app-add-user>
<app-user-list></app-user-list>
<router-outlet />
